.calc-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: lighter;
}
.calc-btn:hover {
    background-color: orange;
}
.row {
    display: table;
    width: 200px; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.column {
    display: table-cell;
}
#calc-zero {
    width: 52.6666666667px;
}
#calc-clear {
    width: 52.6666666667px;
}
#calc-display-val {
    height: 50px;
    color: black;
    text-align: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-size: 32px;
    overflow: hidden;
    white-space: nowrap;
}
.calc-btn-operator {
    background-color: orange;
    color: white;
}
#calc-display-val {
    background-color: #383838;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    padding: 5px;
}
#calc-parent {
    margin-left: calc(50% - 100px);
}
h1 {
    text-align: center;
    margin-top: 200px;
}